################################
# Vivado auto generated
################################

*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.Xil/

################################
# Simulation outputs
################################

*.jou
*.log
*.pb
*.wdb
*.str
*.xpr

################################
# Generated project files
################################

*.wpc
*.lpr

################################
# OS / Editor
################################

.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json